# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.pdb

# Virtual environment
venv/
env/
ENV/

# Django stuff 
*.log
/staticfiles/

# Database - Allow db.sqlite3 to be committed for deployment
# *.sqlite3
# db.sqlite3

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Env files
.env
